input:invalid{
    background-color: red;
}

input:valid {
    background-color: lightgreen;
    
    
}

input[type="range"] {
    -webkit-appearance: none;
    margin-right: 15px;
    width: 100px;
    height: 7px;
    background: blueviolet;
    border-radius: 5px;
}
  
#taxaDI, #taxaJurosPoupanca{
    background-color:grey;
    width: 60px;
}

.capitalInvestido, .meses, .taxaPoupanca, .taxaDI, .taxaLCI, .taxaCDB {
    font-weight: bolder;
}

input[id="capitalInvestido"] {
    width: 100px;
}

input[id="rangenumber"], input[id="taxaLCI"], input[id="taxaCDB"] {
    width: 40px;
}

#montanteCDB, #montanteLCI, #montantePoupanca{
    color: blueviolet;
}

.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.box-dados {
    font-weight: bolder;
    text-align: center;
    justify-content: center;
    background-color: rgb(219, 233, 245);
    display: inline-block;
    align-items: center;
    margin: 0 20px 0 0;
}

.box-resultados {
    font-weight: bolder;
    display: inline-block;
    justify-content: center;
    background-color: rgb(219, 233, 245);
    vertical-align: middle;
    align-items: center;
    text-align: center;
    align-self: center;
}

hr { 
    display: block;
    border-style: inset;
    border-width: 2px;
    border-color:purple;
} 