input:invalid{
    background-color: red;
}

input:valid {
    background-color: lightgreen;
}

#taxaDI, #taxaJurosPoupanca{
    background-color:grey;
}

.capitalInvestido, .meses, .taxaPoupanca, .taxaDI, .taxaLCI, .taxaCDB {
    font-weight: bolder;
}

#montanteCDB, #montanteLCI, #montantePoupanca{
    color: blueviolet;
}

.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.box-dados {
    font-weight: bolder;
    text-align: center;
    justify-content: center;
    background-color: rgb(219, 233, 245);
    display: inline-block;
    align-items: center;
    margin: 0 20px 0 0;
}

.box-resultados {
    font-weight: bolder;
    display: inline-block;
    justify-content: center;
    background-color: rgb(219, 233, 245);
    vertical-align: middle;
    align-items: center;
    text-align: center;
    align-self: center;
}


